.section4
{
    width: 100vw;
    background-color: var(--TW);
    display: flex;
    color: var(--B600);
    place-items: center;
    height: 100%;
}
.sec4Text
{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}
.section4 img
{
    height: auto;
   width: 60%;
   object-fit: cover;
}

@media screen and (max-width: 766.5px) {
    .section4 {
      flex-direction: column;
      
    }
    .section4 img {
    
      display: none;
    }
    .sec4Text {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      background: url("../../assets/Sec4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      place-items: center;
      margin: 2%;
      text-align: center;
    }
    .sec4Text h6 {
      font-weight: 500;
      width: 80%;
    }
    .sec4Text div {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }