/* user info  */
.user
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
   
}
.user button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.user button img
{
    filter: invert(1);
    height: 2rem;
    width: 2rem;
}